<turbo-frame id="daily_count_frame">
  <div class="p-3 border rounded bg-light">
    <div>指定日：<strong><%= date.strftime("%Y/%m/%d") %></strong></div>
    <div>投稿数：<strong><%= count %></strong></div>
  </div>
</turbo-frame>